@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.lato {
    font-family: 'Lato', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    color: $grey2;
    @extend .lato;
}

a {
    color: $accentColor;
    @include transition;
    &:hover {
        text-decoration: none;
        color: $accentColor;
    }
}

/*

===============

  🎨 TITLES 🎨

===============

*/

.hero__title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  padding-top: $marginMD;
  @extend .josefin;
}

.content__title {
  color: $blue;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: $marginLG;
  border-bottom: $borderLight;
  @extend .josefin;
}

.block__title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  @extend .josefin;
}

.slide__title, .block--exhibition .block__title {
  color: $grey2;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: $gutter;
}

.block__name {
  color: $blue;
  font-weight: 700;
  font-size: 2.4rem;
}

.info__title {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}



/*

==============

  🎨 LINKS 🎨

==============

*/

.block__button {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  @extend .josefin;
  &:hover {
    color: #fff;
  }
}

.hero {
  .menu__page {
    display: none;
    list-style-type: none;
    text-align: right;
    padding: .8rem;
    overflow: hidden;
  }
  .menu__link {
    color: $blue;
    font-size: 1.8rem;
    &:hover {
      color: $blue;
    }
  }
  .menu__cart {
    font-size: 3rem;
  }

  .menu__cart.white {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.info {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .menu__page {
    list-style-type: none;
  }
  .info__social {
    font-size: 3.2rem;
  }
  .info__social + .info__social {
    margin-left: .7rem;
  }
}

/*

==============

  🎨 TEXT 🎨

==============

*/

.block__text, .slide__text {
  line-height: 2rem;
}

.block__quote {
  font-style: italic;
}

.info__copyrights {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.info {
  input::placeholder {
    color: $blue;
  }
}
