@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.lato {
    font-family: 'Lato', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 10px;
    @media screen and (min-width: $screenSM) {
      font-size: 14px;
    }
}

body {
    font-size: 1.4rem;
    color: $grey2;
    @extend .lato;
}

a {
    color: $accentColor;
    @include transition;
    &:hover {
        text-decoration: none;
        color: $accentColor;
    }
}

/*

===============

  🎨 TITLES 🎨

===============

*/

.hero__title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  padding-top: $marginMD;
  @extend .josefin;
  @media screen and (min-width: $screenLG) {
      font-size: 3.8rem;
  }
}

.content__title {
  color: $blue;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: $marginLG;
  border-bottom: $borderLight;
  @extend .josefin;
  @media screen and (min-width: $screenLG) {
      font-size: 5.7rem;
      padding: $marginLG 0;
  }
}

.block__title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  @extend .josefin;
  @media screen and (min-width: $screenLG) {
      font-size: 4rem;
  }
}

.slide__title, .block--exhibition .block__title {
  color: $grey2;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: $gutter;
}

.block--last-news, .block--last-post, .block--blog {
  .slide__title {
    color: #fff;
    text-align: left;
    width: 100%;
    letter-spacing: 2px;
  }
}

.block--last-news, .block--last-post {
    .slide__text {
      color: #fff;
      border-top: 1px solid #fff;
      font-weight: 300;
    }
}

.block--gallery {
  .slide__title {
    @media screen and (min-width: $screenMD) {
      color: #fff;
      font-size: 1.8rem;
    }
  }
}

.block__name {
  color: $blue;
  font-weight: 700;
  font-size: 2.4rem;
}

.info__title {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.info__title--copyright {
  text-align: center;
  padding-top: $marginMD;
  margin-bottom: $marginSM;
}

.info__title--subscribe {
  text-align: center;
  padding-top: $marginSM;
  @media screen and (min-width: $screenMD) {
    padding-top: 0;
    text-align: left;
  }
}

.block__title--exhibitions {
  letter-spacing: 0;
  color: $grey2;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  text-transform: none;
  font-family: 'Lato', sans-serif;
  @media screen and (min-width: $screenMD) {
    font-size: 2rem;
    text-align: left;
  }
}

/*

==============

  🎨 LINKS 🎨

==============

*/

.block__button {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  @extend .josefin;
  &:hover {
    color: #fff;
  }
}

.hero {
  .menu__page {
    list-style-type: none;
    text-align: right;
    overflow: hidden;
    @media screen and (min-width: $screenSM) {
      text-align: left;
      overflow: visible;
    }
  }
  .menu__link {
    color: $blue;
    font-size: 1.8rem;
    &:hover {
      color: $blue;
    }
    @media screen and (min-width: $screenSM) {
      color: #fff;
      font-size: 1rem;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
    @media screen and (min-width: $screenLG) {
        font-size: 1.6rem;
    }
  }
  .menu__cart {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $screenSM) {
        font-size: 1.3rem;
    }
    @media screen and (min-width: $screenLG) {
        font-size: 2rem;
    }
  }
  .menu__cart.white {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.info {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .menu__page {
    list-style-type: none;
  }
  .info__social {
    font-size: 3.2rem;
  }
  .info__social + .info__social {
    margin-left: .7rem;
  }
}

.block--gallery {
  .button {
    font-weight: 700;
    color: $accentColor;
    font-size: 1.6rem;
  }
}

/*

==============

  🎨 TEXT 🎨

==============

*/

.block__text, .slide__text {
  line-height: 2rem;
}

.block__quote {
  font-style: italic;
}

small {
  display: block;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 2rem;
}

.info {
  input::placeholder {
    color: $blue;
  }
  .inputSearch {
    text-align: center;
  }
  .inputSearch::placeholder {
    text-align: center;
  }
}

.block__date, .block__more, .block__address {
  font-weight: 700;
  @media screen and (min-width: $screenMD) {
    font-size: 1.7rem;
  }
}

.block__date {
  text-align: center;
  @media screen and (min-width: $screenMD) {
    text-align: left;
  }
}

.block__more {
  color: $grey2;
}

.block--blog {
    .block__date {
        text-align: left;
        color: #fff;
    }
}
