@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.lato {
    font-family: 'Lato', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    color: $grey2;
    @extend .lato;
    line-height: 2rem;
}

a {
    color: $accentColor;
    @include transition;
    &:hover {
        text-decoration: none;
        color: $accentColor;
    }
}

/*

===============

  🎨 HEADER 🎨

===============

*/

.hero__title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  padding-top: $marginMD;
  @extend .josefin;
}


.menu__page {
  display: none;
  list-style-type: none;
  text-align: right;
  padding: .8rem;
  overflow: hidden;
}

.menu__link {
  color: $blue;
  font-size: 1.8rem;
  &:hover {
    color: $blue;
  }
}

.menu__cart {
  font-size: 3rem;
}

.menu__cart.white {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
