$accentColor: #f30078;
$grey1: #292d2e;
$grey2: #728383;
$grey3: #d4dede;
$blue: #90bbbe;

$gutter: 1.8rem;
$marginSM: 2.4rem;
$marginMD: 3.6rem;
$marginLG: 4.6rem;

$border: 1px solid $blue;
$borderLight: 1px solid $grey3;
