$accentColor: #e60162;
$grey1: #292d2e;
$grey2: #696a83;
$grey3: #d0d0de;
$blue: #979abf;

$gutter: 1.8rem;
$marginSM: 2.7rem;
$marginMD: 3.6rem;
$marginLG: 4.5rem;
$marginXL: 8.1rem;

$border: 1px solid $blue;
$borderLight: 1px solid $grey3;

$screenSM: 720px;
$screenMD: 1080px;
$screenLG: 1280px;
