.block--contact {
    padding: 0 $gutter;
    align-items: center;
    @include transition($duree : .6s);
    transition-property: opacity, transform;
    @media screen and (min-width: $screenMD) {
        flex-flow: wrap;
    }
    @media screen and (min-width: $screenLG) {
        padding: 0;
    }
    .contact__block {
        width: 100%;
        flex-basis: 100%;
        align-self: stretch;
        @media screen and (min-width: $screenMD) {
            flex-basis: 49%;
            @supports (width: calc(50% - 1rem)) {
              flex-basis: calc(50% - .9rem);
            }
        }
    }
    .contact__block--textarea {
        @media screen and (min-width: $screenMD) {
            margin-left: 2%;
            @supports (width: calc(50% - 1rem)) {
              margin-left: $gutter;
            }
        }
    }
    .contact__element {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }
    .contact__element--textarea {
        @media screen and (min-width: $screenMD) {
            height: 100%;
            textarea {
                flex-grow: 1;
            }
        }
    }
    label {
        text-align: center;
        padding: $gutter 0 .9rem;
    }
    input, textarea {
        border: $border;
        padding: $gutter;
    }
}
