.info {
  background: $blue;
  .menu__pages {
    padding: 0;
  }
  .wrapper {
    display: flex;
    flex-flow: wrap;
    padding: 100px $gutter 120px;
  }
  .info__column {
    padding-top: 5px;
    flex-grow: 1;
  }
  .info__column--elsewhere {
    margin-left: 10%;
  }
  .info__column--subscribe, .info__column--elsewhere {
    @media screen and (min-width: $screenSM) {
      margin-left: 5%;
    }
  }
  .info__column--subscribe {
    @media screen and (min-width: $screenSM) {
      flex-basis: 50%;
    }
  }
  input {
    width: 100%;
    height: 3.2rem;
    padding-left: 1rem;
    border: 1px solid transparent;
    margin-top: $gutter;
  }
  .inputSearch {
    margin-top: 0;
  }
  .inputSubmit {
    width: auto;
    background: $blue;
    padding: 0 $marginSM;
    margin-top: $marginSM;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }
  .menu__page {
    padding: 5px;
  }
  #search {
    position: relative;
    margin-top: $gutter;
  }
  .fa-search {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: $blue;
    font-size: 2.2rem;
  }
}

@media screen and (min-width: $screenSM) {
    .inputSubmit {
        @include transition;
        &:hover {
            border: $border;
            background: #fff;
            color: $blue;
        }
    }
    .info {
        .menu__link::after {
            bottom: -3px;
        }
    }
}
