html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  background: #fff;
}

/*

================

  🎨 WRAPPER 🎨

===============

*/

.wrapper {
  max-width: 1200px;
  padding: $gutter;
  margin: 0 auto;
}
.wrapper--instagram {
  padding: 0 $gutter;
}
.slide__container.wrapper {
  padding: $gutter $gutter 0;
}

.block, .block .wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.block--last-painting, .block--last-product, .block--last-post, .block--instagram {
  padding-bottom: $gutter;
}

.block--instagram {
  padding-top: $marginMD;
}

/*

================

  🎨 IMAGES 🎨

===============

*/

.block__container, .slide__link:not(.slide__link--instagram) {
  .block__illu {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .slide__img {
      display: block;
      object-fit: cover;
      width: 600px;
      height: 600px;
  }
}

.block__container {
  width: 100%;
  height: 300px;
}

.slide__link {
  display: block;
}

.block__container, .slide__link {
    position: relative;
}

.block--last-painting, .block--last-product {
  .slide__link {
    @media screen and (min-width: 600px) {
      max-width: 600px;
    }
  }
}

@supports not (object-fit: cover){
  .block__container, .slide__link:not(.slide__link--instagram) {
    overflow: hidden;
    .block__illu, .slide__img {
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

/*

================

  🎨 TEXTS 🎨

===============

*/

.content__title {
  margin-bottom: $marginMD;
}

.block__title {
  width: 100%;
  z-index: 10;
}

.block__text, .slide__text {
  padding: $marginSM 0 0;
  border-top: $borderLight;
  margin-top: $marginSM;
  margin-bottom: 0;
  flex-basis: 100%;
}

.block__text--2 {
  border-top: 0;
  margin-top: 0;
  width: 100%;
}

.slide__text {
  padding-bottom: 0;
  margin-bottom: 0;
}

.block__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $gutter $marginMD;
  background: $accentColor;
  margin: $marginMD auto;
}

.block--about, .block--commissions {
  .block__title {
    position: absolute;
    padding: $gutter;
    left: 0;
    bottom: 0;
  }
}

/*

=====================

  🎨 TESTIMONIALS 🎨

=====================

*/

.block__testimonials {
  .block__illu {
    height: 320px;
  }
  .block__face {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-top: $gutter;
  }
  .wrapper {
    flex-flow: column;
    align-items: center;
  }
  .block__name {
    padding-top: $gutter;
  }
  .block__quote {
    padding-bottom: $gutter;
  }
}

/*

=================

  🎨 OVERLAY 🎨

================

*/

.block--last-news, .block--last-post {
  .slide__img, .overlay {
    position: absolute;
  }
  .overlay {
    z-index: 2;
  }
  .slide__container {
    position: relative;
    z-index: 10;
    padding: $marginLG $gutter;
  }

}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $grey1;
  opacity: .4;
  z-index: 2;
}

.overlay--post {
  opacity: .7;
}

.overlay--art {
  opacity: .2;
}

/*

================

  🎨 SWIPER 🎨

===============

*/

.swiper1, .swiperInstagram, .slide__img--last-news, .slide__img--instagram  {
    width: 100%;
}

.slide__img--instagram {
    display: block;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper-pagination {
  top: $gutter;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  opacity: 1;
  background: none;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiperInstagram {
  .swiper-button-next, .swiper-button-prev {
    display: block;
    margin-top: 0;
    transform: translateY(-50%);
  }
  .swiper-button-next {
    background: url('../img/nextWhite.png');
  }
  .swiper-button-prev {
    background: url('../img/prevWhite.png');
  }
  .swiper-pagination {
    display: none;
  }
  .slide__likes {
    color: #fff;
    position: absolute;
    z-index: 10;
    bottom: .9rem;
    left: .9rem;
  }
  .fa-heart {
    padding-right: 2px;
  }
}
