html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  background: #fff;
  position: relative;
}

*:focus {
    border: 1px solid $grey2;
}

/*

================

  🎨 WRAPPER 🎨

===============

*/

.wrapper {
    padding: $gutter;
    @supports (max-width: 1200px) {
      max-width: 1200px;
    }
    @media screen and (min-width: $screenLG) {
        width: 1200px;
        padding: $gutter 0;
        @supports (margin: 0 auto) {
            margin: 0 auto;
        }
    }
}
.wrapper--instagram {
  padding: 0 $gutter;
}
.wrapper--about {
    padding: 0;
}
.slide__container.wrapper {
  padding: $gutter $gutter 0;
}

.block--about, .block--commissions {
    .wrapper {
        width: 100%;
    }
}

.block, .block .wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.block--last-painting, .block--last-product, .block--last-post, .block--instagram {
  padding-bottom: $gutter;
}

/*

================

  🎨 IMAGES 🎨

===============

*/

.block__container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slide__link {
  display: block;
  overflow: hidden;
}

.block__container, .slide__link {
    position: relative;
}

.block--last-painting, .block--last-product {
  .slide__link {
    @media screen and (min-width: 600px) {
      max-width: 600px;
    }
  }
}

@supports not (object-fit: cover) {
    .block__container, .slide__link {
      overflow: hidden;
      .block__illu, .slide__img {
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
      }
    }
}

@supports (object-fit: cover){
    .block__container, .slide__link {
      .block__illu {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .slide__img {
          display: block;
          object-fit: cover;
          width: 100%;
      }
    }
    .block__testimonials {
      .block__illu {
        height: 320px;
        }
    }
}



/*

================

  🎨 TEXTS 🎨

===============

*/

.content__title {
  margin-bottom: $marginMD;
  width: 100%;
}

.block__title {
  width: 100%;
  z-index: 10;
}

.block__text, .slide__text {
  padding: $marginSM 0 0;
  border-top: $borderLight;
  margin-top: $marginSM;
  margin-bottom: 0;
  flex-basis: 100%;
}

.block__text--2 {
  border-top: 0;
  margin-top: 0;
  width: 100%;
}

.slide__text {
  padding-bottom: 0;
  margin-bottom: 0;
}

.block__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .9rem $gutter;
  background: $accentColor;
  border: 1px solid $accentColor;
  margin: $marginMD 0;
}

.block--about, .block--commissions {
  .block__title {
    position: absolute;
    padding: $gutter;
    left: 0;
    bottom: 0;
  }
}

/*

=====================

  🎨 TESTIMONIALS 🎨

=====================

*/

.block__testimonials {
  .block__face {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-top: $gutter;
  }
  .wrapper {
    flex-flow: column;
    align-items: center;
  }
  .block__name {
    padding-top: $gutter;
  }
  .block__quote {
    padding-bottom: $gutter;
  }
}

/*

=================

  🎨 OVERLAY 🎨

================

*/

.block--last-news, .block--last-post {
  .slide__img, .overlay {
    position: absolute;
  }
  .overlay {
    z-index: 2;
  }
  .slide__container {
    position: relative;
    z-index: 10;
    padding: $marginLG $gutter;
  }

}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $grey1;
  opacity: .4;
  z-index: 2;
}

.overlay--post {
  opacity: .7;
}

.overlay--art {
  opacity: .2;
}

/*

================

  🎨 SWIPER 🎨

===============

*/

.swiper1, .swiperInstagram, .slide__img--last-news, .slide__img--instagram  {
    width: 100%;
}

.slide__img--last-news {
    transform: translateY(-25%);
}

.slide__img--instagram {
    display: block;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper-pagination {
  top: $gutter;
  height: 40px !important;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  opacity: 1;
  background: none;
  margin: 0 .4rem !important;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiperInstagram {
  .swiper-button-next, .swiper-button-prev {
    display: block;
    margin-top: 0;
    transform: translateY(-50%);
  }
  .swiper-button-next {
    background: url('../img/nextWhite.png');
  }
  .swiper-button-prev {
    background: url('../img/prevWhite.png');
  }
  .swiper-pagination {
    display: none;
  }
  .slide__likes {
    color: #fff;
    position: absolute;
    z-index: 10;
    bottom: .9rem;
    left: .9rem;
  }
  .fa-heart {
    padding-right: 2px;
  }
}

/*

================

  🎨 HOVER 🎨

===============

*/

@media screen and (min-width: $screenSM) {
    .block__button {
        &:hover {
            background: #fff;
            color: $accentColor;
        }
    }
    .block__text a {
        &:hover {
            opacity: .7;
        }
    }
    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        @include transition;
        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @include transition;
        &:hover {
            opacity: .8;
        }
    }
    .block--last-painting, .block--last-product {
        .slide__link {
            margin: 0 auto;
        }
    }
}

/*

=========================

  🎨 VERSION DESKTOP 🎨

========================

*/

@media screen and (min-width: $screenMD) {
    .block--about, .block--commissions {
        position: relative;
        .wrapper--about {
            justify-content: center;
            align-items: flex-start;
        }
        .block__container {
            position: static;
            flex-basis: 40%;
        }
        .block__illu, .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            width: 40%;
        }
        .wrapper:not(.wrapper--about) {
            flex-basis: 60%;
            margin: 0;
            text-align: right;
            justify-content: flex-end;
        }
        .block__title {
            top: $gutter;
            left: 0;
            bottom: inherit;
            text-align: right;
            width: 40%;
            height: 100%;
        }
    }
    .block--commissions {
        .wrapper--about {
            flex-flow: row-reverse;
        }
        .block__illu, .overlay, .block__title {
            left: auto;
            right: 0;
            text-align: left;
        }
        .wrapper:not(.wrapper--about) {
            text-align: left;
            justify-content: flex-start;
        }
    }
    .block--last-painting, .block--last-product {
        padding: $gutter;
        @supports (max-width: 1200px) {
          max-width: 1200px;
        }
        width: 100%;
        @supports (margin: 0 auto) {
            margin: 0 auto;
        }
        .slide__link {
            flex-basis: 50%;
        }
        .swiper-slide {
            display: flex;
            align-items: flex-start;
        }
        .swiper-container {
            padding-bottom: $gutter;
        }
        .wrapper {
            box-sizing: border-box;
            width: 50%;
            max-width: inherit;
            margin: 0;
            padding: 0;
            padding-left: 5%;
            text-align: left;
            justify-content: flex-start;
        }
        .swiper-pagination {
            width: auto !important;
            left: 25%;
            transform: translateX(-50%);
        }
        .swiper-button-next, .swiper-button-prev {
            display: block;
            top: 75%;
        }
        .swiper-button-next {
            background: url('../img/nextGrey.png') no-repeat;
            right: 38%;
        }
        .swiper-button-prev {
            background: url('../img/prevGrey.png') no-repeat;
            left: 55%;
        }
    }
    .block--last-product {
        .swiper-slide {
            flex-flow: row-reverse;
        }
        .wrapper {
            padding-left: 0;
            padding-right: 5%;
            text-align: right;
            justify-content: flex-end;
        }
        .swiper-pagination {
            left: auto;
            right: 25%;
            transform: translateX(50%);
        }
        .swiper-button-next {
            right: 55%;
        }
        .swiper-button-prev {
            left: 38%;
        }
    }
    .block--last-news, .block--last-post {
        .slide__title {
            padding-top: 150px;
            text-align: right;
        }
        .wrapper {
            text-align: right;
            padding-bottom: $marginXL;
        }
        .swiper-button-next, .swiper-button-prev {
            display: block;
            top: calc(150px + $marginLG);
            transform: translateY(-50%);
        }
        .swiper-button-next {
            background: url('../img/nextWhite.png') no-repeat;
            right: auto;
            left: $gutter;
            margin-left: $marginLG;
        }
        .swiper-button-prev {
            background: url('../img/prevWhite.png') no-repeat;
            left: $gutter;
        }
    }
    .block--last-post {
        .slide__title {
            text-align: left;
        }
        .wrapper {
            text-align: left;
        }
        .swiper-button-next, .swiper-button-prev {
            right: $gutter;
            left: auto;
        }
        .swiper-button-next {
            margin-left: 0;
        }
        .swiper-button-prev {
            margin-right: $marginLG;
        }
    }
    .block--exhibition {
        text-align: center;
        padding: $marginMD 0;
    }
}


@media screen and (min-width: $screenLG) {
    .block--about, .block--commissions {
        .wrapper--about {
            padding-bottom: $marginXL;
        }
        .wrapper:not(.wrapper--about) {
            padding-left: $marginLG;
        }
        .block__title {
            padding: $marginLG !important;
        }
    }
    .block--last-painting, .block--last-product {
        padding: $marginLG 0 !important;
        .slide__title {
            padding-top: $marginXL;
        }
        .swiper-button-next, .swiper-button-prev {
            top: auto;
            bottom: $marginXL;
        }
    }
    .block--last-news, .block--last-post {
        .swiper-pagination {
            top: $marginLG;
        }
        .wrapper {
            padding-bottom: $marginXL;
        }
        .swiper-button-next, .swiper-button-prev {
            transform: translate(-600px, -50%);
        }
        .swiper-button-next {
            left: 50%;
            margin-left: $marginLG;
        }
        .swiper-button-prev {
            left: 50%;
        }
    }
    .block--last-post {
        .swiper-button-next, .swiper-button-prev {
            transform: translate(600px, -50%);
            right: 50%;
            left: auto;
        }
    }
    .block--exhibition {
        padding: $marginXL 0;
    }
    .block--instagram {
        padding: $marginXL 0;
        @supports (max-width: 1200px) {
          max-width: 1200px;
        }
        width: 100%;
        @supports (margin: 0 auto) {
            margin: 0 auto;
        }
        .swiper-container {
            padding: 0 $marginLG $marginXL;
        }
        .swiper-button-next, .swiper-button-prev {
            top: 98px;
            height: 105%;
            width: 5.5%;
            &:hover {
                opacity: 1;
            }
        }
        .swiper-button-next {
            right: 0;
            background:
                url('../img/nextGrey.png') no-repeat center center,
                #fff;
        }
        .swiper-button-prev {
            left: 0;
            background:
                url('../img/prevGrey.png') no-repeat center center,
                #fff;
        }
        .swiper-pagination {
            display: block;
            top: 240px;
        }
        .swiper-pagination-bullet {
          border: 1px solid $grey2;
        }
        .swiper-pagination-bullet-active {
          background: $grey2;
        }
        .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
            &:hover {
                background: rgba($grey2, .5);
            }
        }
    }
}
