.hero {
  position: relative;
  padding: $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/headerBG.jpg');
  background-size: cover;
  overflow: hidden;
  @media screen and (min-width: $screenLG) {
      padding: $marginMD;
  }
  .wrapper {
    position: relative;
    z-index: 10;
    padding: $marginXL $gutter $marginLG;
    @media screen and (min-width: $screenLG) {
        padding: 180px 0 160px;
    }
  }
}
.hero__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1;
  @supports (object-fit: cover) {
    object-fit: cover;
  }
}
.hero__logo {
  max-width: 100%;
  @supports (object-fit: contain) {
    object-fit: contain;
  }
  @media screen and (min-width: $screenLG) {
    max-width: 1200px;
  }
}
.hero__title {
  flex-basis: 100%;
}

/*

===============

  🎨 BURGER 🎨

===============

*/

.burger__bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 80%;
  height: 1px;
  background: #fff;
  @include transition;
}

.burger__bar--top {
  top: 7px;
}

.burger__bar--mid {
  top: 13px;
}

.burger__bar--bot {
  bottom: 7px;
}

.burger {
  position: fixed;
  top: $gutter;
  right: $gutter;
  display: inline-block;
  width: 31px;
  height: 28px;
  padding: 7px 4px;
  background: $blue;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  z-index: 1000;
  @media screen and (min-width: $screenSM) {
    display: none;
  }
}

/*

============

  🎨 NAV 🎨

============

*/

.hero {
  position: relative;
  .menu {
    position: fixed;
    top: $gutter;
    right: $gutter;
    z-index: 999;
    @media screen and (min-width: $screenSM) {
        position: absolute;
        top: 0;
        left: 0;
    }
  }
  .menu__pages {
    position: fixed;
    top: $gutter;
    right: $gutter;
    display: inline-block;
    background: $blue;
    border: 1px solid #fff;
    width: 32px;
    height: 29px;
    padding: 0;
    overflow: hidden;
    z-index: 999;
    @include transition;
    @media screen and (min-width: $screenSM) {
        width: 90%;
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        height: auto;
        border: 0;
        background: none;
        transition-property: none;
    }
    @media screen and (min-width: $screenLG) {
        top: $marginMD;
        right: $marginMD;
    }
    .menu__link {
      display: block;
      opacity: 0;
      position: relative;
      right: -200px;
      @media screen and (min-width: $screenSM) {
        opacity: 1;
        right: 0;
      }
    }
  }
  .menu__page {
    display: none;
    padding: .8rem;
    @media screen and (min-width: $screenSM) {
      display: block;
      padding: 0;
    }
  }
  a.menu__cart {
    position: fixed;
    top: $gutter;
    left: $gutter;
    z-index: 1000;
    background: #fff;
    border: $border;
    width: 32px;
    height: 29px;
    padding: 3px;
    display: flex;
    transition-property: opacity;
    @media screen and (min-width: $screenSM) {
      position: absolute;
      background: none;
      border: 0;
      padding: 0;
      width: auto;
      height: auto;
      @include transition;
    }
    @media screen and (min-width: $screenLG) {
        top: $marginMD;
        left: $marginXL;
    }
  }
}

a.menu__cart.white {
    background: none;
    border: 0;
}
.hero.open {
    .menu__pages {
      width: 180px;
      height: 375px;
      padding: 3.6rem;
      background: #fff;
      border: $border;
      .menu__link {
        animation: .6s menuLinksApparition forwards;
      }
    }
    .menu__page {
      display: flex;
      justify-content: flex-end;
    }
    .burger {
      background: none;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      .burger__bar {
          background: $blue;
      }
      .burger__bar--mid {
        width: 0;
      }
    }
}

.hero.fixed {
    .menu {
        background: #fff;
        width: 100%;
        height: 72px;
        position: fixed;
        top: 0;
        right: 0;
        transition-property: none;
        background-attachment: fixed;
        @media screen and (min-width: $screenLG) {
            height: 85px;
        }
    }
    .menu__cart {
        position: fixed;
        color: $blue;
        top: $gutter;
        left: $gutter;
        @media screen and (min-width: $screenLG) {
            left: $marginXL;
        }
    }
    .menu__pages {
        position: fixed;
        padding: $gutter $gutter $gutter $marginXL;
        top: 0;
        right: 0;
        width: 100%;
        transition-property: none;
        @media screen and (min-width: $screenMD) {
            padding: $gutter $marginXL;
        }
        .menu__link {
            color: $blue;
        }
        .menu__logo {
            height: 21px;
            margin-left: $marginLG;
            position: relative;
            bottom: 4px;
            @media screen and (min-width: $screenLG) {
                height: 33px;
                bottom: 8px;
            }
        }
    }
}

/*

===================

  🎨 ANIMATIONS 🎨

===================

*/

@keyframes menuLinksApparition {
  0% {right: -200px; opacity: 0;}
  50% {right: -200px; opacity: 0;}
  100% {right: 0; opacity: 1;}
}

@keyframes burgerBarTopIn {
  0%{top: 7px; transform: translateX(-50%); width: 80%;}
  25%{top: 7px; transform: translateX(-50%); width: 80%;}
  75%{top: 13px; transform: translateX(-50%); width: 80%;}
  100%{top: 13px; transform: translateX(-50%) rotate(-45deg); width: 75%;}
}

@keyframes burgerBarBotIn {
  0%{bottom: 7px; transform: translateX(-50%); width: 80%;}
  25%{bottom: 7px; transform: translateX(-50%); width: 80%;}
  75%{bottom: 13px; transform: translateX(-50%); width: 80%;}
  100%{bottom: 13px; transform: translateX(-50%) rotate(45deg); width: 75%;}
}

@keyframes burgerBarTopOut {
  0%{top: 13px; transform: translateX(-50%) rotate(-45deg); width: 75%;}
  50%{top: 13px; transform: translateX(-50%); width: 80%;}
  100%{top: 7px; transform: translateX(-50%); width: 80%;}
}

@keyframes burgerBarBotOut {
  0%{bottom: 13px; transform: translateX(-50%) rotate(45deg); width: 75%;}
  50%{bottom: 13px; transform: translateX(-50%); width: 80%;}
  100%{bottom: 7px; transform: translateX(-50%); width: 80%;}
}

@keyframes burgerBGgo {
    0%{background: $blue; border-top: 1px solid #fff; border-right: 1px solid #fff;}
    100%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
}

@keyframes burgerBGback {
    0%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
    99%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
    100%{background: $blue; border-top: 1px solid #fff; border-right: 1px solid #fff;}
}

/*

================

  🎨 HOVER 🎨

===============

*/

@media screen and (min-width: $screenSM) {
    .menu__link:not(.image) {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 1px;
            background: #fff;
            opacity: .8;
            @include transition;
        }
    }
    .menu__link, .menu__cart, .info__social {
        &:hover {
            opacity: .8 !important;
        }
    }
    .menu__link:hover {
        &::after {
            width: 100%;
        }
    }
    .hero.fixed {
        .menu__link {
            &::after {
                background: $blue;
            }
        }
    }
}
