.hero {
  position: relative;
  padding: $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/Pallette 1.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  @media screen and (min-width: $screenLG) {
      padding: $marginLG;
  }
  .wrapper {
    position: relative;
    z-index: 10;
    padding: $marginXL $gutter $marginLG;
    @media screen and (min-width: $screenLG) {
        padding: 180px 0 160px;
    }
  }
}

.hero__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1;
  @supports (object-fit: cover) {
    object-fit: cover;
  }
}
.hero__logo {
  @supports (object-fit: contain) {
    max-width: 100%;
    object-fit: contain;
  }
  @media screen and (min-width: $screenSM) {
      width: 100%;
  }
  @media screen and (min-width: $screenLG) {
    max-width: 1200px;
  }
}
.hero__title {
  flex-basis: 100%;
}

/*

===============

  🎨 BURGER 🎨

===============

*/

.burger__bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 80%;
  height: 2px;
  background: #fff;
  @include transition ($duree: .1s);
  &--top {
    top: 7px;
    &.in {
      transform: translateX(-50%) rotate(-45deg) !important;
    }
  }
  &--mid {
    top: 14px;
  }
  &--bot {
    top: 21px;
    &.in {
      transform: translateX(-50%) rotate(45deg) !important;
    }
  }
}

.burger {
    .midnightHeader.white {
        .burger__bar {
            background: #fff;
        }
    }
    .midnightHeader.grey {
        .burger__bar {
            background: $grey3;
        }
    }
    .midnightHeader.default {
      .burger__bar {
        background: $blue;
      }
    }
}


.burger, .burger.midnightHeader {
  position: fixed;
  top: $gutter !important;
  right: $gutter !important;
  left: auto !important;
  bottom: auto !important;
  display: inline-block !important;
  width: 32px !important;
  height: 28px !important;
  padding: 7px 4px !important;
  cursor: pointer;
  z-index: 1000 !important;
  @media screen and (min-width: $screenSM) {
    display: none !important;
  }
}

/*

============

  🎨 NAV 🎨

============

*/

.hero {
  position: relative;
  .menu {
    position: fixed;
    top: $gutter;
    right: $gutter;
    z-index: 999;
    @media screen and (min-width: $screenSM) {
        position: absolute;
        top: 0;
        left: 0;
    }
  }
  .menu__pages {
    position: fixed;
    top: $gutter;
    right: $gutter;
    display: inline-block;
    background: none;
    border: 0;
    width: 32px;
    height: 29px;
    padding: 0;
    overflow: hidden;
    z-index: 999;
    @include transition;
    @media screen and (min-width: $screenSM) {
        width: 80%;
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        height: auto;
        border: 0;
        background: none;
        transition-property: none;
    }
    @media screen and (min-width: $screenLG) {
        top: $marginMD;
        right: $marginMD;
    }
    .menu__link {
      display: block;
      opacity: 0;
      position: relative;
      right: -200px;
      @media screen and (min-width: $screenSM) {
        opacity: 1;
        right: 0;
      }
    }
  }
  .menu__page {
    display: none;
    padding: .8rem;
    @media screen and (min-width: $screenSM) {
      display: block;
      padding: 0;
    }
  }
  a.menu__cart, a.menu__cart.midnightHeader {
    position: fixed;
    top: $gutter !important;
    left: $gutter !important;
    z-index: 1000 !important;
    width: 30px !important;
    height: 28px !important;
    display: flex !important;
    transition-property: opacity !important;
    path {
        fill: #fff !important;
    }
    @media screen and (min-width: $screenSM) {
        width: 20px !important;
        height: 18px !important;
    }
    @media screen and (min-width: $screenSM) {
      position: absolute !important;
      background: none !important;
      border: 0 !important;
      padding: 0 !important;
      @include transition;
    }
    @media screen and (min-width: $screenLG) {
        width: 30px !important;
        height: 28px !important;
        top: $marginMD !important;
        left: $marginLG !important;
    }
  }
}

.midnightInner {
    overflow: hidden !important;
}

.hero.open {
    .menu__pages {
      width: 180px;
      height: 375px;
      padding: 3.6rem;
      background: #fff;
      border: $border;
      .menu__link {
        animation: .6s menuLinksApparition forwards;
      }
    }
    .menu__page {
      display: flex;
      justify-content: flex-end;
    }
    .burger {
      background: none !important;
      border-top: 1px solid transparent !important;
      border-right: 1px solid transparent !important;
      .burger__bar {
          background: $blue !important;
          &--mid {
              width: 0 !important;
          }
      }
    }
}

.hero.fixed {
    .menu {
        background: #fff;
        width: 100%;
        height: 72px;
        position: fixed;
        top: 0;
        right: 0;
        transition-property: none;
        background-attachment: fixed;
        @media screen and (min-width: $screenLG) {
            height: 85px;
        }
    }
    a.menu__cart {
        position: fixed !important;
        top: $gutter !important;
        left: $gutter !important;
        path {
            fill: $blue !important;
        }
        @media screen and (min-width: $screenLG) {
            left: $marginLG !important;
        }
    }
    .menu__pages {
        position: fixed;
        padding: $gutter $gutter $gutter $marginXL;
        top: 0;
        right: 0;
        width: 100%;
        transition-property: none;
        @media screen and (min-width: $screenMD) {
            padding: $gutter $marginXL;
        }
        .menu__link {
            color: $blue;
        }
        .menu__logo {
            width: 177px;
            height: 22px;
            margin-left: $marginLG;
            position: relative;
            bottom: 5px;
            path {
              fill: $blue;
            }
            @media screen and (min-width: $screenLG) {
                width: 220px;
                height: 28px;
                bottom: 7px;
            }
        }
    }
}

/*

===================

  🎨 ANIMATIONS 🎨

===================

*/

@keyframes menuLinksApparition {
  0% {right: -200px; opacity: 0;}
  50% {right: -200px; opacity: 0;}
  100% {right: 0; opacity: 1;}
}

@keyframes burgerBarTopIn {
  0%{top: 7px !important; transform: translateX(-50%) !important;}
  25%{top: 7px !important; transform: translateX(-50%) !important;}
  75%{top: 13px !important; transform: translateX(-50%) !important;}
  100%{top: 13px !important; transform: translateX(-50%) rotate(-45deg) !important;}
}

@keyframes burgerBarBotIn {
  0%{top: auto !important; bottom: 7px !important; transform: translateX(-50%) !important;}
  25%{top: auto !important; bottom: 7px !important; transform: translateX(-50%) !important;}
  75%{top: 13px !important; bottom: auto !important; transform: translateX(-50%) !important;}
  100%{top: 13px !important; bottom: auto !important; transform: translateX(-50%) rotate(45deg) !important;}
}

@keyframes burgerBarTopOut {
  0%{top: 13px !important; transform: translateX(-50%) rotate(-45deg) !important;}
  50%{top: 13px !important; transform: translateX(-50%) !important;}
  100%{top: 7px !important; transform: translateX(-50%) !important;}
}

@keyframes burgerBarBotOut {
  0%{top: 13px !important; bottom: auto !important; transform: translateX(-50%) rotate(45deg) !important;}
  50%{top: 13px !important; bottom: auto !important; transform: translateX(-50%) !important;}
  100%{top: auto !important; bottom: 7px !important; transform: translateX(-50%) !important;}
}

@keyframes burgerBGgo {
    0%{background: $blue; border-top: 1px solid #fff; border-right: 1px solid #fff;}
    100%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
}

@keyframes burgerBGback {
    0%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
    99%{background: none; border-top: 1px solid transparent; border-right: 1px solid transparent;}
    100%{background: $blue; border-top: 1px solid #fff; border-right: 1px solid #fff;}
}

/*

================

  🎨 HOVER 🎨

===============

*/

@media screen and (min-width: $screenSM) {
    .menu__link:not(.image) {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 1px;
            background: #fff;
            opacity: .8;
            @include transition;
        }
    }
    .menu__link, .menu__cart, .info__social {
        &:hover {
            opacity: .8 !important;
        }
    }
    .menu__link:hover {
        &::after {
            width: 100%;
        }
    }
    .hero.fixed {
        .menu__link {
            &::after {
                background: $blue;
            }
        }
    }
}
